<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/streamingVideo.css">
</head>
<body>
    <!-- <h1><%= user.fname %></h1> -->
    <!-- modal1 -->

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0.3px solid rgba(255, 255, 255, 0.259);">
              <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">Upload Video</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="video-input">
                <i class="ri-upload-2-fill"></i>
              </div>
              <h4>Drag and Drop video files to upload</h4>
              <button id="video-upload-btn" class="btn btn-primary">SELECT FILES</button>
              <form action="/create/media" method="post" enctype="multipart/form-data" id="video-form">
                <input id="video-input" name="video" type="file">
                
            </div>
            <p>By submitting your videos to YouTube, you acknowledge that you agree to YouTube's <a href="">Terms of Service</a> and <a href="">Community Guidelines.</a></p>
            <p id="learn-more">Please be sure not to violate others' copyright or privacy rights. <a href="">Learn more</a></p>
          </div>
        </div>
      </div>

  
  <!-- Modal2 -->
  <a data-bs-toggle="modal" id="modal2" data-bs-target="#exampleModal2" href="#" style="display:none;">lol</a>

  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0.3px solid rgba(255, 255, 255, 0.259);">
          <h1 style="color: white;" class="modal-title fs-5" id="exampleModalLabel">Details</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal2">
            <h3>Details</h3>
          <!-- <form id="desc-form" action="/create/media" method="post"> -->
            <div id="tittle">
                <label for="">Title (required)*</label>
                <input id="title-input" name="title" type="text" placeholder="Add a title that describes your (type @ to mention a channel)">
                <label id="label2" for="title-input">100</label>
            </div>
            <div id="description">
                <label for="">Description</label>
                <textarea name="description" id="desc-input" cols="50" rows="50" placeholder="Tell viewers about your video(type @ to mention  a channel)"></textarea>
                <label id="label2" class="desc-count" for="description">200</label>
            </div>
                <input id="reset-btn" type="reset" value="Reset">
                <input id="submit-btnnn" type="submit" value="Upload">
          </form>
        </div>
        <div class="modal-footer" style="position: relative;bottom:45px;border-top: 0.3px solid rgba(255, 255, 255, 0.259);">

        </div>
      </div>
    </div>
  </div>
 
  <div id="main">
        <div id="navbar">
            <div id="left-nav">
                <div id="menu-icon">
                    <i class="ri-menu-line"></i>
                </div>
                <a id="youtube-logo" style="text-decoration: none; color:white;display:block;margin-top:25px;" href="/home">
                    <img src="../images/youtube-logo-icon.png" alt=""><span style="margin-top: 20px;">IN</span>
                </a>
            </div>
            <div id="center-nav">
                    <div class="form-outline">
                      <input id="search-focus" type="search" placeholder="Search"/>
                    </div>
                    <button type="button" id="btn">
                        <i class="ri-search-line"></i>
                    </button>
            </div>
            <div id="right-nav">

                <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#"><i  class="ri-video-add-line"></i></a>
                
                <button id="button"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <img src="../images/uploads/<%= user.profilePic %>" alt="">
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header" >
                        <div id="dp-image">
                            <img src="../images/uploads/<%= user.profilePic %>" alt="">
                        </div>
                        <div id="name">
                            <h3><%= user.fname %> <%= user.lname %></h3>
                        </div>
                        <div id="email">
                            <h3><%= user.email %></h3>
                        </div>
                    </div>
                    <div class="offcanvas-body" >
                        <a href="/yourVideos">
                            <i class="ri-account-box-line"></i>
                            <h5>Your channel</h5>
                        </a>
                        <button class="a">
                            <i class="ri-moon-line"></i>
                            <h5>Appearance: Device theme</h5>
                        </button>
                        <a class="a" href="">
                            <i class="ri-global-line"></i>
                            <h5>Location: india</h5>
                        </a>
                        <a class="a" href="">
                            <i class="ri-translate-2"></i>
                            <h5>Language: English</h5>
                        </a>
                        <a class="a" href="">
                            <i class="ri-settings-5-line"></i>
                            <h5>setting</h5>
                        </a>
                        <a class="a" href="/logout">
                            <i class="ri-logout-box-r-line"></i>
                            <h5>Sign out</h5>
                        </a>
                        <hr style="background-color: white;color:white;margin-top:40px;">

                        <a class="a" href="">
                            <i class="ri-question-line"></i>
                            <h5>Help</h5>
                        </a>
                        <a class="a" href="">
                            <i class="ri-feedback-line"></i>
                            <h5>Send feedback</h5>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div id="left-content">
            <!-- <a href=""></a> -->
                <div class="menu">
                    <a href="/home"><i class="ri-home-fill"></i></a>
                    <a href="/home">Home</a>
                </div>
                <div class="menu">
                    <a href="/library"><i class="ri-play-circle-line"></i></a>
                    <a href="/library">Library</a>
                </div>
                <div class="menu">
                    <a href="/history"><i class="ri-history-line"></i></a>
                    <a href="/history">History</a>
                </div>
                <div class="menu">
                    <a href="/yourVideos"><i class="ri-video-line"></i></a>
                    <a href="/yourVideos">Your videos</a>
                </div>
                <div class="menu">
                    <a href="/watchLater"><i class="ri-time-line"></i></a>
                    <a href="/watchLater">Watch later</a>
                </div>
                <div class="menu">
                    <a href="/likedVideo"><i class="ri-thumb-up-line"></i></a>
                    <a href="/likedVideo">Liked video</a>
                </div>
                <div class="menu">
                    <a href="/playlists"><i class="ri-play-list-add-fill"></i></a>
                    <a href="/playlists">Playlists</a>
                </div>
                <div class="menu">
                    <a href="/download"><i class="ri-download-line"></i></a>
                    <a href="/download">Download</a>
                </div>
        </div>
        <div id="container">
            <div id="youtube-content">
                <div id="streaming-content">
                    <div id="video-part">
                        <video type="video" controls autoplay muted loop src="/video/<%= media.video%>"></video>
                    </div>
                    <div class="desc">
                        <h1><%= media.description%></h1>
                    </div>
                    <div class="title">
                        <div class="title-naam">
                            <h3>@<%= media.title%></h3>
                        </div>
                        <div class="icons">
                            <a href="/likes/<%=media._id %>">
                            <%let index = user.liked_videos.findIndex((item)=> item == media._id.toString())%>
                            <% if(index !=-1){ %>
                                <i class="ri-thumb-up-fill"></i> 
                                <% }else{ %>
                                <i class="ri-thumb-up-line"></i> 
                            <% } %>
                                <span><%= media.likes%></span>
                            </a>
                            <a href="/download/<%=media._id%>"><i class="ri-download-line"></i> <span>Download</span></a>
                            <button class="menu-btn"><i class="ri-more-2-fill"></i></button>
                        </div>
                    </div>
                    <div class="options">
                        <a href="/watchLater/<%=media._id%>"><i class="ri-play-list-add-fill"></i> <p>watch later</p></a>
                    </div>
                    
                    <div class="comment-box">
                        <div class="comment-count"><h4><%= media.comment.length %></h4><h4>Comments</h4></div>
                        <div class="comment-form">
                            <div class="profile">
                                <img src="../images/uploads/<%= loggedinUser.profilePic %>" alt="">
                            </div>
                            <form action="/comment/<%=media._id %>">
                                <input type="text" name="comment" placeholder="Add a comments">
                                <input id="submit-btn" type="submit" value="comment">
                            </form>
                        </div>
                    </div>
                    <% media.comment.reverse().forEach(function(elem,index){ %>
                        <div class="comment-text">
                            <div class="comments">
                                <div class="userDp">
                                    <img src="/images/uploads/<%= elem.profilePic %>" alt="">
                                </div>
                                <div class="text">
                                    <h2><%= elem.title %></h2>
                                    <h4><%= elem.comment %></h4>
                                </div>
                                <div class="time">
                                    <p><%= elem.date.toLocaleDateString() %> - <%= elem.date.toLocaleTimeString() %></p>
                                </div>                           
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div id="suggest-content">

                    <% medias.forEach((media, index,p)=>{ %>
                        <div class="suggest-video">
                            <div class="video-part">
                                <a href="/streamingVideo/<%= media._id%>"><video  src="/video/<%= media.video %>"></video></a>
                            </div>
                            <div class="suggest-text">
                                <div class="desc-text">
                                    <h6><%= media.description%></h6>
                                </div>
                                <div class="title-text">
                                    <p>@<%= media.title%></p>
                                </div>
                            </div>
                            <div class="suggest-btn">
                                <i class="ri-more-2-fill"></i>
                            </div>
                            <div class="option-part">
                                <a href="/watchLater/<%= media._id%>" class="watchlater option-link">
                                    <i class="ri-time-line"></i>
                                    <h6>Save to Watch Later</h6>
                                </a>
                                <% user.tags.forEach(function(a,p){ %>
                                    <a href="/playlists/<%= a._id%>/<%= media._id %>" class="playlist option-link">
                                        <i class="ri-play-list-add-fill"></i>
                                        <h6> Add to Playlist</h6>
                                    </a>
                                <%})%>
                               
                                <% user.tags.forEach(function(u,i){ %>
                                    <a href="/playlists/<%= u._id%>/<%= media._id%>" class="playlist option-link">
                                        <i class="ri-play-list-add-fill"></i>
                                        <h6> <%= u.tagname%></h6>
                                    </a>       
                                <%})%>
                                <a href="/download/<%= media._id%>" class="download option-link">
                                    <i class="ri-download-line"></i>
                                    <h6>Download</h6>
                                </a>
                            </div>
                        </div>

                   <% })%>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../javascripts/streamingVideo.js"></script>
</body>
</html>